In [2]:
import pandas as pd
df = pd.read_csv('../preprocessed_sales_grouped_str1.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../preprocessed_sales_grouped_str1.csv'

In [5]:
df

,date,store_nbr,family,is_open,is_special,family_sales
0,2013-01-01,1,BREAD/BAKERY,0,1,0.000000
1,2013-01-01,1,DAIRY,0,1,0.000000
2,2013-01-01,1,DELI,0,1,0.000000
3,2013-01-01,1,EGGS,0,1,0.000000
4,2013-01-01,1,MEATS,0,1,0.000000
...,...,...,...,...,...,...
13144,2016-12-31,1,MEATS,1,1,187.434000
13145,2016-12-31,1,POULTRY,1,1,218.061001
13146,2016-12-31,1,PREPARED FOODS,1,1,79.299999
13147,2016-12-31,1,PRODUCE,1,1,2112.316996
13148,2016-12-31,1,SEAFOOD,1,1,17.673000

In [6]:
holidays = pd.read_csv('../raw_data/holidays_events_v2.csv')
holidays

,Unnamed: 0,date,type,locale,locale_name,description,transferred
0,0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...,...
345,345,2017-12-22,Holiday,National,Ecuador,Navidad-3,False
346,346,2017-12-23,Holiday,National,Ecuador,Navidad-2,False
347,347,2017-12-24,Holiday,National,Ecuador,Navidad-1,False
348,348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,349,2017-12-26,Holiday,National,Ecuador,Navidad+1,False

In [10]:
df_holidays = pd.read_csv('../df_holiday.csv')

In [11]:
df_holidays

            date     type        city  is_special
0     2012-03-02  Holiday       Manta           1
1     2012-04-12  Holiday      Cuenca           1
2     2012-04-14  Holiday    Libertad           1
3     2012-04-21  Holiday    Riobamba           1
4     2012-05-12  Holiday        Puyo           1
...          ...      ...         ...         ...
3925  2017-12-26  Holiday        Loja           1
3926  2017-12-26  Holiday     Machala           1
3927  2017-12-26  Holiday  Esmeraldas           1
3928  2017-12-26  Holiday       Manta           1
3929  2017-12-26  Holiday   El Carmen           1

[3930 rows x 4 columns]

In [4]:
str1 = pd.read_csv('../api/preprocessed_sales_grouped_str1.csv')
str1

,date,store_nbr,family,is_open,is_special,family_sales
0,2013-01-01,1,BREAD/BAKERY,0,1,0.000000
1,2013-01-01,1,DAIRY,0,1,0.000000
2,2013-01-01,1,DELI,0,1,0.000000
3,2013-01-01,1,EGGS,0,1,0.000000
4,2013-01-01,1,MEATS,0,1,0.000000
...,...,...,...,...,...,...
13144,2016-12-31,1,MEATS,1,1,187.434000
13145,2016-12-31,1,POULTRY,1,1,218.061001
13146,2016-12-31,1,PREPARED FOODS,1,1,79.299999
13147,2016-12-31,1,PRODUCE,1,1,2112.316996
13148,2016-12-31,1,SEAFOOD,1,1,17.673000

In [13]:
str1.groupby(by=['date', 'store_nbr']).mean()

                      is_open  is_special  family_sales
date       store_nbr
2013-01-01 1              0.0         1.0      0.000000
2013-01-02 1              1.0         0.0    235.221167
2013-01-03 1              1.0         0.0    177.367416
2013-01-04 1              1.0         0.0    189.387361
2013-01-05 1              1.0         1.0    183.379556
...                       ...         ...           ...
2016-12-27 1              1.0         0.0    480.978861
2016-12-28 1              1.0         0.0    548.326306
2016-12-29 1              1.0         0.0    410.142861
2016-12-30 1              1.0         0.0    522.811639
2016-12-31 1              1.0         1.0    410.779666

[1461 rows x 3 columns]

In [11]:
str1.groupby(by=['date', 'store_nbr']).mean().to_csv('../api/holidays_str1.csv')

In [15]:
str2 = pd.read_csv('../api/preprocessed_sales_grouped_str2.csv')
str2

,date,store_nbr,family,is_open,is_special,family_sales
0,2013-01-01,2,BREAD/BAKERY,0,1,0.000000
1,2013-01-01,2,DAIRY,0,1,0.000000
2,2013-01-01,2,DELI,0,1,0.000000
3,2013-01-01,2,EGGS,0,1,0.000000
4,2013-01-01,2,MEATS,0,1,0.000000
...,...,...,...,...,...,...
13144,2016-12-31,2,MEATS,1,1,541.865500
13145,2016-12-31,2,POULTRY,1,1,530.771252
13146,2016-12-31,2,PREPARED FOODS,1,1,163.183998
13147,2016-12-31,2,PRODUCE,1,1,3405.898876
13148,2016-12-31,2,SEAFOOD,1,1,33.643000

In [16]:
str2.groupby(by=['date', 'store_nbr']).mean()

                      is_open  is_special  family_sales
date       store_nbr
2013-01-01 2              0.0         1.0      0.000000
2013-01-02 2              1.0         0.0    321.497888
2013-01-03 2              1.0         0.0    241.475000
2013-01-04 2              1.0         0.0    256.104889
2013-01-05 2              1.0         1.0    281.452777
...                       ...         ...           ...
2016-12-27 2              1.0         0.0    580.986959
2016-12-28 2              1.0         0.0    710.510097
2016-12-29 2              1.0         0.0    547.924166
2016-12-30 2              1.0         0.0    839.935651
2016-12-31 2              1.0         1.0    785.535625

[1461 rows x 3 columns]

In [17]:
str2[str2['is_open']==1].groupby(by=['date', 'store_nbr']).mean().to_csv('../api/holidays_str2.csv')

In [ ]:
data = pd.read_csv('../raw_data/')